.blog {
    .name {
        font-size: 2.4rem;
        color: #212121;
        position: relative;
        &:after {
            content: url(../images/titleleft-dark.png);
            position: absolute;
            bottom: -30px;
            left: 0;
        }
    }
    &-list {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 30px;
    }
    
}

