.form-wrapper {
    .register-title {
        letter-spacing: 3px;
    }
    .form-control {
        border-radius: inherit;
    }
    .sendbtn {
        width: 47px;
    }
    .returnbtn {
        width: 81px;
    }
    .btn {
        border-radius: 0;
    }
}
