.logo {
    &-name {
        font-size: 2.9rem;
        font-family: $fifth-font;
        top: 45%;
        left: 45%;
        transform: translate(-50%,-50% );
        color: $primary-color;
    }
    &-year {
        font-size: 1.6rem;
        font-family: $sixth-font;
        font-weight: 200;
        top: 45%;
        left: 47%;
        transform: translate(-50%, 100%);
        color: $primary-color;
        letter-spacing: 3px;
    }
    &-img {
        width: 33px;
        height: 44px;
        top: 42%;
        left: 50%;
        transform: translate(-62%, 85%);
    }
}
