//
// variables.scss
//
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,500;0,600;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
//Color 
$white:                     #ffffff;
$black:                     #000000;

$text-color:                   #818181;
$social-icon-color :                 #898989;
$about-icon-color :                 #252525;

$span-color :                #a7a7a7;
$desc-color:                    #8e8e8e;
$heading-color:                   #dddadc;
$megamenu-color:                 #737373;

$primary-color :                #e6ae48;
$subtitle-color :                 #c1c1c1;
$title-color:                   #303030;

//fonts
$primary-font : "Times New Roman", sans-serif;
$secondary-font: "UTM Aquarelle";
$third-font :  "UVF Didot";
$fourth-font : "Lobster";
$fifth-font : "UTM Alpine KT";
$sixth-font: "Roboto";
$form-font :  'Open Sans';

//layout
$wrapper : 1920px;

// 1170 
// 1140 

